.btn  
    text:
        decoration: none
    border-radius: 5px
    padding: 0.8rem 0

.nav-btn
    background: lighten($main, 20%)
    border: 1px solid $text-inverse
    border: 1px solid lightgray
    box-shadow: 3px 3px 5px lightgray

    &:hover,
    &:focus
        background: lighten($accent, 20%)

.btn--secondary
    border: 1px solid $text-inverse
    
    &:hover,
    &:focus
        background: $secondary