.main-container 
    display: grid
    grid-template-columns: repeat(3, minmax(300px, 30%))
    grid-template-rows: autofit 1fr
    justify-content: center
    align-item: center
    gap: calc($gap * 1.5)
    padding: 1rem

    & .card
        width: 95%
        height: 95%
        border-radius: 8px
        border: 1px solid lightgray
        box-shadow: 3px 3px 5px lightgray

        &::before 
            &::before
            content: ''
            display: block
            background-color: $secondary
            width: 3%
            height: 100%
            border-radius: 5px